body {
    margin: 0;
    background-color: white;
}

.header-tab {
    margin: 30px 0 0 180px;
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    position: static;
}

.first-tab {
    font-size: 16px;
    width: 200px;
    height: 100%;
    border-radius: 20px 20px 1px 1px;
    color: #040f0f;
    border: 1px solid white;
}

.second-tab {
    font-size: 16px;
    width: 200px;
    height: 100%;
    border-radius: 20px 20px 1px 1px;
    border: 1px solid white;
}

.all-calculator {
    padding-top: 50px;
    margin: 0 auto;
    width: 1200px;
    height: 600px;
    background-color: white;
    border-radius: 40px;
    align-items: center;
    box-shadow: 5px 5px 20px 0.2em #74776b;
}

.calculator-form {
    padding: 50px 0 50px 0;
    height: 250px;
    margin: 0 auto;
    width: 1100px;
    font-size: 24px;
    text-align: start;
    background-color: #eef0eb;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 20px;
    gap: 10%;
}

.main-date {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.extra-date {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.all-imput {
    font-size: 16px;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    color: #040f0f;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    border: 2px solid #be97c6;
}

.time-interval-buttons {
    width: 220px;
    gap: 15px;
    display: flex;
    flex-direction: row;
}

.blok-time-interval {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.week-button {
    width: 100px;
    height: 36px;
    border-radius: 20px;
    background-color: #be97c6;
    border: 2px solid white;
    font-size: 16px;
}

.month-button {
    width: 100px;
    height: 36px;
    border-radius: 20px;
    background-color: #be97c6;
    border: 2px solid white;
    font-size: 16px;
}

.fix-button {
    margin-top: 20px;
}

.button {
    margin: 0;
    font-size: 18px;
    width: 250px;
    height: 60px;
    background-color: #8661c1;
    border-radius: 20px;
    color: #040f0f;
    border: 2px solid #8661c1;
}

.button:hover {
    transition: 0.3s;
    font-size: 20px;
    box-shadow: 0px 0px 10px black;
}

label {
    margin: 0;
    font-size: 20px;
    display: inline-block;
    width: 200px;
    color: #040f0f;
}

.all-rasult {
    width: 225px;
    margin: 30px 0 20px 50px;
    color: #040f0f;
    border-bottom: 2px solid #be97c6;
}

.all-list {
    font-size: 18px;
    padding: 0 50px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #040f0f;
}

.start-date-th {
    display: flex;
    flex-direction: column;
}
